<html>
  <head>
    <title></title>
  </head>
  <body>
    <div id = "container">
      <div class="ui segment">
        <div class="ui labeled input">
          <div class="ui blue label">
            http://reddit.com/r/
          </div>
          <input type="text" placeholder="subreddit">
        </div>
      </div>

      <main class="ui page grid">
        <div class="row">
          <div class="aligned starter column">
            <div class="ui header author"></div>
            <div class="ui header caption"></div>
            <div class = "post"></div>
          </div>
        </div>
          <div class="3 fluid ui blue buttons">
            <div class="ui button">Like</div>
            <div class="ui button">Comments</div>
            <div class="ui button">Save</div>
          </div>
      </main>
    </div>

  </body>
</html>
