<div class="fourteen wide column centered row">
  <div class="four wide column boards-title"><span id="#username"><%= @user.name %></span>'s Boards</div>
  <div class="ten wide column"></div>
</div>

<div class="fourteen wide column centered row">
  <div class="ui cards">
    <div class="ui card">
      <div class="image">
        <img src="http://b.thumbs.redditmedia.com/pbXbC1TB8iYEO07u4Sa3KDbi5C0jAun4tMExJgrj95Q.jpg">
      </div>
      <div class="content">
        <div class="header">cat</div>
      </div>
    </div>
  </div>
</div>
