/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import 'semantic-ui';

.boards-title {
  font-size: 24px !important;
}

.menu-button {
  top: 10px !important;
  left: 10px !important;
}

.remove:hover, .edit:hover {
  cursor: pointer;
}

.boards-view {
  margin-top: 40px;
}

.add-board {
  margin: 0 auto 30px auto;
  width: 60%;
}

.post-delete {
  margin-top: 2.5em !important;
}

.update, .delete {
  float: right;
}

.edit-board {
  width: 50%;
  float: left;
  margin: 2em;
}

.edit-board-label {
  font-size: 1.6em;
}

.score {
  font-size: 2em;
}

.modal .description {
  font-size: 1.4em;
}
