img {
  max-height: 500px;
  max-width: 800px;
}

.background {
  /*background-color: #0c1c25;*/
  background-image: url('noisy_net.png');
}

.contents {
    min-height: 200px;
    min-width: 200px;
    border-style: solid;
    border-width: 20px;
    background-color: #d1e1f0 !important;
}

.fullscreen {
  min-height: 800px;
  min-width: 600px;
}

.subinput {
  margin-left: 10px;
}

.sublabel {
  background-color: #d1e1f0 !important;
}

.left-arrow {
  margin-top: 63px !important;
  margin-left: 198px !important;
  color: #d1e1f0;
}

.right-arrow {
  margin-top: 120px !important;
  color: #d1e1f0;
}

.post-comment, .save-post, .menu-button, .add-board-button {
  background-color: #d1e1f0 !important;
}

.content-text {
  word-wrap:break-word;
  color: black !important;
}

.pushable {
  background-color: #0c1c25 !important;
}

.board-title {
  color: black !important;
  margin-left: 20px;
  float: left;
}

.login-alert {
  color: black !important;
}

.save-to-board {
  margin-right: 20px !important;
  margin-top: 15px !important;
}
