img {
  max-height: 500px;
  max-width: 800px;
}

.background {
  /*background-color: #0c1c25;*/
  background-color: #0c1c25;
}

.post-info {
  color: #d1e1f0;
}

.contents.ui.segment {
    min-height: 200px;
    min-width: 200px;
    background-color: #ddebf4 !important;
}

.fullscreen {
  min-height: 800px;
  min-width: 600px;
}

.subinput {
  margin-left: 10px;
}

.sublabel {
  background-color: #d1e1f0 !important;
  color: black !important;
}

.left-arrow {
  margin-top: 63px !important;
  margin-left: 237px !important;
  color: #d1e1f0;
}

.right-arrow {
  margin-top: 60px !important;
  color: #d1e1f0;
}

.post-comment, .save-post, .menu-button, .add-board-button {
  background-color: #d1e1f0 !important;
}

.content-text {
  word-wrap:break-word;
  color: black !important;
  position:relative;
  left: 40%;
}

.pushable {
  background-color: #0c1c25 !important;
}

.board-title {
  color: black !important;
  margin-left: 20px;
  float: left;
}

.login-alert {
  color: black !important;
}

.save-to-board {
  margin-right: 20px !important;
  margin-top: 15px !important;
}

.subreddit {
  float: right !important;
  margin-top: 10px;
}

.content-text {
  width: 20%;
  color: #d1e1f0 !important;
}

.login-text {
  color: white !important;
}
